certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.4
django-annoying==0.10.3
django-debug-toolbar==1.8
django-eventtools==0.9.11
django-location-field==2.0.3
django-map-widgets==0.1.9
django-npm==1.0.0
django-recurrence==1.4.1
googlemaps==2.5.1
icalendar==3.11.7
idna==2.6
psycopg2==2.7.3.1
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
six==1.10.0
sqlparse==0.2.3
urllib3==1.22
